/* SELECTOR PRIORITY
   0. !important
   1. #tag (single element)
   2. .class (multiple elements of any type)
   3. elementtype (all elements of one type)
   4. * (all elements)
 */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

